/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@layer components {
    .btn {
        @apply bg-green-950 text-white rounded-full px-4 py-1;
    }
}